.nav-bar {
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
}

@media screen and (max-width: 1024px) {
    .nav-bar {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 0 5rem;
    }
}

.logo-container img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.my-trips {
    font-size: large;
    font-weight: 400;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}